# Global settings (development)
{
    email millionmulugeta01@gmail.com
    local_certs  # Use self-signed certificates for development
    debug
}

# Frontend - Dashboard
wam.mrbeas.net {
    reverse_proxy dashboard:3000 {
        header_up Host {host}
        header_up X-Real-IP {remote}
        header_up X-Forwarded-Proto {scheme}
    }
    
    encode gzip zstd
    
    header {
        Strict-Transport-Security "max-age=31536000;"
        X-Content-Type-Options "nosniff"
        X-Frame-Options "DENY"
    }
    
    tls internal {
        resolvers 1.1.1.1
    }
}

# Backend API
backend-dashboard.mrbeas.net {
    reverse_proxy mrb_backend:3000 {
        header_up Host {host}
        header_up X-Real-IP {remote}
    }
    
    tls internal {
        resolvers 1.1.1.1
    }
}