# Global settings
{
    admin off
    debug
}

wam.mrbeas.net {
    # Enable automatic HTTPS
    tls {
        protocols tls1.2 tls1.3
    }

    reverse_proxy dashboard:3000 {
        header_up Host {host}
        header_up X-Real-IP {remote}
        header_up X-Forwarded-Proto {scheme}
    }
    
    # Security headers
    header {
        Strict-Transport-Security "max-age=31536000; includeSubDomains; preload"
        X-Content-Type-Options "nosniff"
        X-Frame-Options "DENY"
        X-XSS-Protection "1; mode=block"
        Referrer-Policy "strict-origin-when-cross-origin"
    }
    
    # Compression
    encode gzip zstd
}
 